body {
    background-image: url(./images/background7.jpeg);
    background-repeat: no-repeat;
    background-size: 120% 120%;
  /* background-color: rgb(85, 148, 203); */
}

h1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.577), 0 0 5px rgba(255, 255, 255, 0.577), 0 0 5px rgba(255, 255, 255, 0.577);
}

p {
    text-shadow: 0 0 5px rgba(187, 123, 27, 0.634), 0 0 5px rgba(187, 123, 27, 0.634), 0 0 5px rgba(187, 123, 27, 0.634);
}

button {
  border-radius: 10px;
  border-style: outset;
  padding: 0.5rem;
  color: white;
  background-color: darkslategrey;
  transition: 0.2s;
}

button:active {
  border-style: inset;
  background-color: rgb(37, 58, 58);
}

.inputButton {
  border-radius: 10px;
  padding: 0.3rem;
  color: white;
  background-color: darkslategrey;
  transition: 0.2s;
}

.inputButton:active {
  border-style: inset;
  background-color: rgb(37, 58, 58);
}

.container1 {
  margin: 0.5rem 2rem;
}

.getter {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

.createForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.createForm p {
  margin: 0.4rem 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}

.postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postForm p {
  margin: 0.4rem 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}

.postForm button {
  margin-top: 0.3rem;
}

.getter button {
  width: 10rem;
}

.getter select {
  width: 10rem;
}

.title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

.workouts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update {
  display: flex;
}

.innerSanctum {
  margin: 0.5rem;
}

@media (max-width: 446px) {
  .posterInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .posterInputs input {
    margin: 0.1rem;
  }

  .innerSanctum {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .textfield {
    width: 11rem;
    margin: 0.1rem;
  }
}

@media (max-width: 406px) {
  .posterInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .posterInputs input {
    margin: 0.1rem;
  }

  .innerSanctum {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .textfield {
    width: 10rem;
    margin: 0.1rem;
  }
}

@media (max-width: 377px) {
  .posterInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .posterInputs input {
    width: 7rem;
    margin: 0.2rem;
  }

  .innerSanctum {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .textfield {
    width: 9rem;
    margin: 0.1rem;
  }

@media (max-width: 342px) {
    .posterInputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .posterInputs input {
      width: 7rem;
      margin: 0.2rem;
    }
  
    .innerSanctum {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .textfield {
      width: 8rem;
      margin: 0.1rem;
    }
}
